{% if data.content|default %}
    <div class="cb-block-text">{{ data.content }}</div>
{% else %}
    <small style="color: #5b6478;">{{ 'cb_kit.block.text.empty'|trans({}, 'content_blocks_kit') }}</small>
{% endif %}
