{% if data.content|default %}
    <div class="cb-block-text">{{ data.content }}</div>
{% else %}
    <small class="text-muted">{{ 'cb_kit.block.text.empty'|trans({}, 'content_blocks_kit') }}</small>
{% endif %}
